/*
$my-soft-purple : #A27CFF;
$my-purple : #AF65E8 ;
$my-pink : #E86FFF;
$my-strong-blue : #6865E8;
$my-soft-blue : #6F92FF ;
*/
$my-red : #FF7A88;
$my-purple : #DD58E8;
$my-central : #A16DFF;
$my-strong-blue : #5875E8;
$my-light-blue : #60D7FF;
$my-strong-grey : $gray;
$white: #FFF
